/* --- Meta/Links view --*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=PT+Mono');


ul.alph-description{
padding-left: 0em;    
    font-family: sans-serif;
    font-size: 12px;
}
.alph-description li > ul {
    display: inline-block;
    vertical-align: top;
    padding: 0em 1em;
    border: none;
}
.alph-description li > ul > li {
    border: none;
    margin: 0em;
}
.alph-description li {
    list-style: none;
    padding: 0.1em 0.3em;
    margin: 0.3em;
    background-color: rgba(255,255,255,0.05);
}
.alph-description span.key {
    font-weight: bold;
}
.alph-description span.value {
    margin-left: 1em;
}
.alph-description a {
    text-decoration: none;
}
.alph-description a:hover {
    text-decoration: underline;
}
    
/* --- GLOBAL --- */
#alph-main x-text:empty,
#alph-main span:empty,
#alph-main p:empty { 
    border: solid 2px red;
	padding: 5px; 
}
x-text[src^="!"]{
    /* filter: invert(60%); */
    opacity: 0.66;
}
/*
x-floater.alph-floater x-text[contenteditable="true"]:focus{
    background-color: pink;
    color: black;
    outline: none;
}
*/
.plaintext{
    column-width: 640px;
    font-family: monospace;
    white-space: pre-wrap;
}
x-text{
    border-bottom: 2px transparent solid;
}
x-text:hover{
    border-color: rgba(192,128,96,0.2);
}


/* --- MAIN DIV ---*/
#alph-main {
    pointer-events: all;
    font-size: 14px;
    max-width: 10000px;
    z-index: 0;
    color: #333;
    /* background: linear-gradient(10deg, #bbb, #666); */
    background: linear-gradient(0deg, #300, #000);
}
#alph-main.alphActiveItem {
    /* box-shadow: inset 0px 0px 0px 5px rgba(255,64,64,0.8); */
}
#alph-main a{
    color: #000; /* #ddd */
    text-decoration: none;
}
#alph-main a:hover{
    color: #310; /* #fff */
    text-decoration: underline;
}
#alph-main input[type="text"]{
    border: solid 1px grey;
    background-color: #222; /* #ccc */
    color: #fbb; /* #222 */
}

/* --- INFOBAR --- */
#alph-footer {
    position: fixed;
    font-size: 10pt;
    font-family: serif;
    bottom: 0px;
    right: 0px;
    text-align: left;
    padding: 0em;
    color: white;
    background-color: rgba(0,0,0,0.8);
    text-shadow: 1px 1px 1px #000;
    z-index: 1000;
}
#alph-footer *{
    vertical-align: bottom;
}
#alph-logo {
    display: inline-block;
    border: none;
    border-radius: 50%;
    background-color: white;
    margin: 0.4em;
    filter: invert(80%);
    vertical-align: middle;
}
#alph-infotext {
    margin: 0.25em;
    display: inline-block;
    /*word-break: keep-all;*/
    white-space: pre-wrap;
    vertical-align: middle;
}
#alph-infotext *{
    vertical-align: baseline;
}

/* --- FLOATERS/SLIDERS --- */
#alph-floaters{
    z-index: 100;
}
.alph-floater, .alph-slider {
    border: solid rgba(0,0,0,0.67);
    background-color: rgba(16,16,16,0.9); /* rgba(212,212,212,0.90); /* rgba(255,255,255,0.9) */
    color: #DDD; /* #333 */
    border-width: 1px;
    /*border-width: 5px 5px 5px 5px;*/
    /*max-width: 960px;*/
    min-width: 5em;
    cursor: move;
}
#alph-main x-floater>*{
    cursor: auto;
    font-family: serif;
}
#alph-main x-floater a{
    color: #F88; !important
}
#alph-main x-floater a:hover{
    color: #FCC; !important
}
.alph-floater > article, .alph-slider > article,
.alph-floater > div, .alph-slider > div {
    padding: 1em;
}


.alph-floater {
    position:fixed;
}
.alph-slider {
    border-color: rgba(24,24,24,0.5);
    position: absolute;
    box-shadow: 10px 5px 5px rgba(0,0,0,0.4);
}
x-floater.alphActiveItem{
    /*
    box-shadow: 0px 0px 0px 5px rgba(255,64,64,0.8);
    border-color: #B44;
    background-color: rgba(240,240,240,1);*/
}
div.titleTab.alphActiveItem{
    background-color: black;
    color: white;
    /* border-left: 8px solid rgba(255,64,64,0.8); */
}
div.titleTab.alphActiveItem .titleTabBurger{
    background-color: rgba(255,64,64,0.8);
}
div.titleTab.alphActiveItem .titleTabBurger:hover{
    background-color: rgba(255,112,112,0.8);
}
/* --- FLOATER OVERLAYS ---*/
.alph-floater-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    fill: none;
    mix-blend-mode: difference;
    border: none;
}
/* .alph-floater-overlay * {
    pointer-events: visibleFill;
} */
.alph-floater-overlay line.coincidence{
    stroke-width: 3;
    stroke: rgba(64,128,192,0.4);
    stroke-dasharray: 4,3;
}
.alph-floater-overlay polyline.coincidence{
        stroke-width: 6;
    stroke: rgba(64,128,192,0.4);
}
.alph-floater-overlay line.hyperlink{
    stroke-width: 3;
    stroke: rgba(128,192,64,0.4);
}
.alph-floater-overlay line.weblink{
    stroke-width: 3;
    stroke: rgba(192,64,128,0.4);
    stroke-dasharray: 2,2;
}
.alph-floater-overlay rect.coincidence{
    fill: rgba(64,128,192,0.2);
}
.alph-floater-overlay polygon.coincidence{
    fill: rgba(64,128,192,0.2);
}
.alph-floater-overlay rect.activeElement{
    fill: rgba(192,192,128,0.2);
}
div.titleTab{
    cursor: move;
    position: fixed;
    background-color: rgba(0,0,0,0.75);
    color: white;
    min-width: 5em;
    overflow: hidden;
    white-space: nowrap;
    /* padding: 0.2em 1em 0.2em 0.5em; */
    padding: 0px 0px 1px 0px;
    font-size: 0.7em;
    font-weight: bold;
    font-family: "Roboto Condensed", sans-serif;
    /* border-radius: 15px 15px 0px 0px; */
}
div.titleTab:hover{
    background-color: black;
    color: white;
}
div.titleTab.alphActiveItem:hover{
    background-color: black;
    color: white;
}
div.titleTab span{
    padding: 0.2em 1em 0.2em 0.5em;
}
div.tabBar{
    height: 2px;
    background-color: rgba(255,112,112,0.8);
    width: 100%;
}
.titleTabBurger:hover {
    background-color: gray;
}
.titleTabBurger{
    display: inline-block;
    /* border-radius: 1em;
    border: solid gray 2px; */
    border: none;
    /* height: 1em; */
    height: 1.4em;
    width: 1em;
    /* background-color: transparent; */
    background-color: #333;
    color: black;
    margin-right: 0.4em;
    mix-blend-mode: difference;
    vertical-align: middle;
    text-align: center;
    font-size: 1em;
    cursor: context-menu;
}
x-floater.noodleBox{
    padding: 10px;
    max-width: 720px;
}
x-floater.noodleBox x-text {
    background-color: transparent;
    padding: 0.2em 0.5em;
    /* color: black; */
    white-space: pre-wrap;
    display: block;
    border-right: solid transparent 2px;
    border-left: solid transparent 2px;
}
x-floater.noodleBox x-text[contenteditable="false"] {
    /* border-right: dotted black 2px; */
}
x-floater.noodleBox x-text[contenteditable="true"]:focus {
    outline: none; /*dashed 1px red;
    border-top: dotted 1px black;
    border-bottom: dotted 1px black; */
    box-shadow: -3px 0px 0px rgba(0,0,0,0.5);
}
x-floater.noodleBox pre{
    font-family: monospace;
}

/* --- FLAP --- */
#dptron-palette > b {
    color: #4BD;
}
#dptronSideFlap {
    position: fixed;
    background-color: #111;
    opacity: 0.99;
    width: 500px;
    right: -500px;
    padding: 0px;
    font-weight: normal;
    top: 0px;
    bottom: 0px;
    transition: top 0.5s, right 0.5s;
    overflow: visible;
}
#dptronSideFlap a{
    color: white;
    text-decoration: none;
}
#dptronSideFlap a:hover{
    color: pink;
}
#dptronSideFlap input{
    padding: 0.2em;
}
#dptronSideFlap kbd{
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    background-color: #222;
    border: outset 2px #333;
}
#dptronSideFlap h1, #dptronSideFlap h2, #dptronSideFlap h3 {
    font-family: "Roboto Condensed",sans-serif;
}
#sourcesFilter {
    width: 100%;
}
#sideFlapTabToggle {
    
    position: relative;
    left: -32px;
    transition: transform 0.25s;
    transform: rotate(0deg);
}
#dptron-flap{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
    font-weight: bold;
    background-color: #222;
    border-bottom: solid black 1px;
    color: #ccc;
    position: fixed;
    top: -100px;
    left: 0px;
    right: 0px;
    transition: top 0.5s;
    opacity: 0.85;
    z-index: 999;
}
#dptron-palette{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
    font-weight: bold;
    background-color: #222;
    border-bottom: solid black 1px;
    color: #ccc;
    position: fixed;
    top: -100px;
    left: 0px;
    /*right: 0px;*/
    transition: top 0.5s;
    opacity: 0.85;
    z-index: 999;
}
#dptron-flap>*{
    margin: 0.3em;
    vertical-align: middle;
}
.dptron-flap-icon{
    border: none;
    height: 24px;
    /*margin: 0.5em;*/
    filter: invert(80%);
    vertical-align: top;
}
.dptron-flap-icon:hover{
    filter: invert(100%);
    text-decoration: none;
}
.dptron-flap-glyph-icon{
    cursor: pointer;
    font-size: 32px;
    color: black;
    filter: invert(80%);
}
#dptron-flap input[type="text"]{
    background-color: #000;
    color: #ddd;
    border: solid 0px #333;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1em;
    /*padding: 0.3em;*/
    height: 24px;
    /*margin: 0.2em;*/
}
#dptron-flap input[type="button"], #dptron-flap button{
    color: #ddd;
    background-color: #222;
    border: solid 1px #222;
    padding: 0.2em;
    margin: 0.2em;
}
#dptron-flap input[type="button"]:hover, #dptron-flap button:hover{
    border-top: solid 1px #333;
    border-bottom: solid 1px #111;
    color: pink;
}
.linksFlapItem{
    margin-bottom: 0.25em;
    border-top: 1px solid #444;
}
.dptron-controls {
    display: inline-block;
}
.dptron-controls img{vertical-align: middle;}
.dptron-controls label{
    /*padding: 0.2em;*/
}
.dptron-controls>*{
    vertical-align: middle;
    padding-left: 0.3em;
    padding-right: 0.3em;
}
.dptron-controls input[type="text"]{
    border: solid 0px black;
}
/* ----- */
#sourcesPane, #linksPane{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
/* ----- */
#dptronSourceListDiv, #dptronLinkListDiv {
    background-color: #111;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 66%;
    max-height: 66%;
}
#dptronSourceListDiv li{
  height: 1.1em;
  padding: 0.15em;
  background-color: black;
  border-bottom: solid 1px #111;
  width:1000px;
  overflow: hidden;
  cursor: default;
}
#dptronSourceListDiv li:hover{
  color: white;
}
#dptronSourceListDiv li[data-noodleid]{
    background-color: #111;
    border-bottom: 1px black solid;
}
#dptronSourceListDiv ul{
  list-style:none;
  margin: 0px;
  padding: 0.1em;
}
/* ----- */
#dptronSourceInfoDiv {
    background-color: #000;
    border-top: solid #ccc 3px;
    padding: 0.5em;
    overflow: auto;
}
#dptronSourceInfoDiv pre {
    white-space: pre-wrap;
}
/* ----- */
#dptronSourcesFlapHeader {
    background-color: #111;
    border-bottom: solid 3px #ccc;
}
#sessionPane {padding: 0.5em;}
#sessionPane a, #sessionPane input{
    text-decoration: none;
    color: #ccc;
    font-size: smaller;
    display: inline-block;
    background-color: #000;
    margin: 0.1em;
    padding: 0.2em;
    border: solid #222 1px;
}
#sessionPane h3{ margin: 0.0em; background-color: black; padding: 0.2em;}
#sessionListContainer {overflow: auto; max-height: 50vh;}
#dptronSessionList{ list-style: none; padding-left: 0em; margin: 0.25em; }
#dptronSessionList>li a{ background-color: transparent; border: transparent 0px solid; }
#dptronSessionList>li a.currentSession{ color: white; font-weight: bold; }

#dptronSourcesFlapHeader a:hover{
    background-color: #333;
    color: white;
}
#dptronSideFlapTabs {
    position: sticky;
    top: 0px;
    background-color: #111;
}
#dptronSideFlapTabs img{
  padding: 0.25em;
}
#dptronSideFlapTabs img:hover{
  background-color: white;
}
.dptronSideFlapTab{
    font-size: 18px;
    font-weight: bold;
    vertical-align: middle;
    padding: 0em 0.3em;
    border-bottom: solid transparent 3px;
    cursor: default;
}
.dptronSideFlapTab:hover{
    background-color: black;
    color: white;
}
.dptronActiveTab{
    border-bottom: solid white 3px;
}
/* --- CONTEXT MENUS --- */
.alph-contextmenu{
    border-top: #111 solid 0.5em;
    z-index: 99999;
    background-color: black;
    color: white;
    position: fixed;
    font-family: sans-serif;
    font-size: smaller;
    text-transform: uppercase;
}
.alph-contextmenutitle{
    padding: 0.5em;
    border-bottom: solid #333 1px;
    text-transform: none;
}
.alph-contextmenuitem{
    border: 0px;
    border-bottom: 1px solid #222;
    background-color: black;
    color: #ccc;
    padding: 0.2em;
    cursor: default;
}
.alph-contextmenuitem:hover{
    background-color: #222;
    color: pink;
}


/* --- BUFFER/SCRATCHPAD --- */
#buffer{
    white-space: pre-wrap;
    font-size: 14px;
    font-family: "PT Mono", monospace;
}
#bufferEditor{
    padding: 0px;
    background-color: #ddd;
    color: #222;
    overflow: auto;
}
#alph-bufferdiv{
    padding: 1em;
    white-space: pre-line;
    margin: none;
    
}
#alph-bufferinput{
    margin: none;
    border: none;
    padding: 1em;
    font-size: 14px;
    font-family: "PT Mono", monospace;
    width: 100%;
    box-sizing: border-box;
    height: auto;
    outline: none;
    overflow: auto;
}
#alph-scratchpad{
    position: sticky;
    bottom: 0px;
}


/* --- SVG OVERLAY --- */
#alphOverlay {
    position: fixed;
    top: 0px;
    left: 0px;
    pointer-events: none;
    mix-blend-mode: difference;
    border: none;
    z-index: 999;
}
#alphOverlay line.coincidence{
    stroke-width: 3;
    stroke: rgba(64,128,192,0.4);
    stroke-dasharray: 4,3;
}
#alphOverlay polyline.coincidence{
        stroke-width: 6;
    stroke: rgba(64,128,192,0.4);
}
#alphOverlay line.hyperlink{
    stroke-width: 3;
    stroke: rgba(128,192,64,0.4);
}
#alphOverlay line.weblink{
    stroke-width: 3;
    stroke: rgba(192,64,128,0.4);
    stroke-dasharray: 2,2;
}
#alphOverlay rect.coincidence{
    fill: rgba(64,128,192,0.2);

}
#alphOverlay polygon.coincidence{
    fill: rgba(64,128,192,0.2);

}

#alphOverlay rect.activeElement{
    fill: rgba(192,192,128,0.2);
}
polyline.lark{
    stroke: rgba(80, 64, 48, 0.5); /*#543;*/
    stroke-width: 3;
    fill: none;
    pointer-events: stroke; 
}
polyline.cursorHack{
    stroke: rgba(80, 64, 48, 0.5); /*#543;*/
    stroke-width: 3;
    fill: none;
}
polyline.lark:hover{
    stroke-width: 6;
}
.dptron-simplepointer{
    stroke: rgba(80, 64, 48, 0.75); /*#543;*/
    stroke-width: 3;
    fill: none;
}
.dptron-pointerBridge{
    stroke: rgba(80, 64, 48, 0.75); /*#543;*/
    stroke-width: 2;
    fill: rgba(80,64,48,0.5);
}
.dptron-equivSP{
    stroke: rgba(80, 64, 48, 0.75); /*#543;*/
    stroke-width: 2;
    stroke-dasharray: 4;
    fill: none;
}
.dptron-linkBridge{
    stroke: rgba(48, 80, 64, 0.75); /*#543;*/
    stroke-width: 3.5;
    fill: rgba(48,80,64,0.5);
}
.dptron-simpleNexus{
    pointer-events: all;
    cursor: pointer;
    stroke: none;
    fill: rgba(192,30,30,0.75);
}
g.linkTerminalGroup.hot *{
    stroke: rgba(255,128,32,0.75);
    stroke-width: 1;
    fill: rgba(255,128,32,0.5);
    mix-blend-mode: difference;
}
g.linkTerminalGroup.cold *{
    stroke: rgba(32,128,255,0.75);
    stroke-width: 1;
    fill: rgba(32,128,255,0.5);
    mix-blend-mode: difference;
}
g.linkTerminalGroup:hover{
    pointer-events: all;
    stroke: #f00;
    stroke-width: 2;
}
rect.linkTerminal {
    fill: rgba(48,80,64,0.15);
    /*mix-blend-mode: multiply;*/
}
rect.linkTerminal:hover {
    mix-blend-mode: color-burn;
    cursor:pointer;
}

/* --- EDIT-MODE STUFF --- */
.alph-editor-tagname{
    font-size: 9px;
    stroke: none;
    fill: grey;
    font-family: sans-serif;
}
#alphDOMCursor{
    z-index: 9999;
    position: fixed;
    pointer-events: none;
    /*mix-blend-mode: multiply;*/
    mix-blend-mode: difference;
    top: 0px;
    left: 0px;
    /*background-color: rgba(192,192,128,0.2);*/
    /*background-color: rgba(128,128,128,0.135);*/
}
#alphDOMCursor > div{
    position: fixed;
    background-color: rgba(128,128,128,0.135);
}
#alphDOMCursorInfotext{
    z-index: 9999;
    mix-blend-mode: normal;
    font-size: 9px;
    position: fixed;
    color: grey;
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 2px #888;
    background-color: rgba(255,255,255,0.66);
    padding: 0.2em;
}
#alphDOMCursorInfotext strong{
    color: black;
    background-color: white;
    padding: 0.2em;
    font-size: larger;
    /*mix-blend-mode: difference;*/
}

.styleMunglor{ background-color: #111;}
.styleMunglor > div {margin: none; color: #DDD; font-size: smaller; padding: 0.25em;}
.styleMunglor textarea, .styleMunglor input[type="text"] {color: #ccc; background-color: #222; border: none; display: block; padding: 0.25em;}
.styleMunglor input[type="button"]{border: none; margin: 0.1em; background-color: #000; color: #abc; font-family: sans-serif;}
.styleMunglor input[type="button"]:hover{color: #f55;}
#alph-main ul.attributeForm{
    margin: none;
    list-style: none;
    padding: 0px;
}
#alph-main ul.attributeForm input[type="text"]{
    border: solid 0px transparent;
    margin: 1px;
    display: inline-block;
}
#alph-main ul.attributeForm input[type="text"]:disabled{
    background-color: #222; color: #888;
}
#alph-main input[type="text"].attributeValue{
    background-color: #333; color: #DDD;
    width: 30em;
}
#alph-main input[type="text"].attributeKey{
    background-color: #282828; color: #BBB;
    width: 8em;
}

.xanadoc {
    padding: 1em;
    white-space: pre-wrap;
}
span.dptronPaletteItem{
    margin: 0em 0.3em;
}
span.dptronPaletteItem mark{
    font-weight: bold;
    background-color: transparent;
    color: azure;
}
x-floater.linkEditor{
    z-index: 99999;
}
x-floater.linkEditor input{
    background-color: black;
    border: solid #222 1px;
    color: white;
    padding: 0.3em;
}
x-floater.linkEditor button {
    background-color: #333;
    color: white;
    padding: 0.3em;
    border: solid #222 1px;
}
x-floater.linkEditor button:hover {
    background-color: #black;
    color: white;
    padding: 0.3em;
    border: solid red 1px;
}

.dptronUI{
    background-color: #111;
    color: #ccc;
}
.dptronUI a{
    color: white;
}
.dptronUI input{
    background-color: black;
    color: #ddd;
    border: solid 1px #333;
}
.dptronUI input[type='button'], .dptronUI button{
    font-family: sans-serif;
}

table.dptronColorPicker {
    border-collapse: collapse;
    border: solid black 1px; 
    cursor: pointer;
    width: 100%;
}

table.dptronColorPicker td{
    font-family: monospace;
    font-size: smaller;
    border: solid black 1px;
    min-width: 10px;
}
table.dptronColorPicker td:hover{
    border-color: red;
}