<body>
  <p>HYPERAMA is a text editor in which one works with <dfn>noodles</dfn>. ...</p>
  <h2>Controls</h2>
  <h3>To Begin</h3>
  <ul style="line-height: 1.5em;">
    <li>NEW noodle :: <kbd>Alt/Option</kbd>+<kbd>N</kbd></li>
  </ul>
  <p>You may place the text cursor inside of a noodle and type as you'd expect...</p>
  <h3>Selecting Noodles</h3>
  <ul style="line-height: 1.5em;">
    <li>SELECT noodle :: Left-click on title-tab or noodle edge</li>
    <li>SELECT MULTIPLE :: Shift-left-click on tab or noodle edge</li>
    <li>SELECT COLOR GROUP :: Select "SELECT COLOR GROUP" from the trigram (☰) menu in a noodle's tab to select all noodles with the same border color.</li>
    <li>SELECT WORKSPACE :: Left-click on the background</li>
  </ul>
  <h3>Getting Around The Workspace</h3>
  <ul style="line-height: 1.5em;">
    <li>MOVE noodle(s) :: Left-drag on a title-tab or a noodle's edge</li> 
    <li>SCROLL noodle(s) :: SELECT one or more noodles, then wheel/two-finger scroll</li>
    <li>SCROLL workspace :: SELECT the background, then wheel/two-finger scroll</li>
    <li>RAISE/LOWER noodle(s) :: SELECT one more more noodles, then hold <kbd>Control</kbd>+<kbd>F</kbd> and move the mouse wheel or touch-scroll to change stacking position</li>
    <li>SUMMON tiny or off-screen noodle :: Double-click on its title-tab; double-clicking it again will (should!) return the noodle to its previous position.</li>
    <li>ZOOM workspace :: SELECT the workspace, then hold <kbd>Control</kbd>+<kbd>S</kbd> and move the mouse wheel or touch scroll</li>
  </ul>

  <h3>Editing Noodles</h3>
  <ul style="line-height: 1.5em;">
    <li>OPEN/CLOSE noodle for editing:: <kbd>Alt/Option</kbd>+<kbd>O</kbd> <i>[This will be indicated by the presence/absence of a dotted edge on the side of the noodle's text: if the edge is there, the noodle is not editable]</i></li>
    <li>SPLIT noodle at caret :: <kbd>Alt/Option</kbd>+<kbd>S</kbd></li>
    <li>EXCISE selection :: <kbd>Alt/Option</kbd>+<kbd>X</kbd></li>
    <li>FUSE selected noodles :: <kbd>Alt/Option</kbd>+<kbd>F</kbd></li>
    <li>DUPLICATE selected noodles :: <kbd>Alt/Option</kbd>+<kbd>D</kbd></li>
    <li>DESTROY noodle :: <kbd>Alt/Option</kbd>+<kbd>Delete</kbd></li>
  </ul>
  
  <h3>Changing Noodle Size &amp; Appearance</h3>
  <ul  style="line-height: 1.5em;">
    <li>ENLARGE TEXT size of selected noodles :: <kbd>Control</kbd>+<kbd>+</kbd></li>
    <li>REDUCE TEXT size of selected noodles :: <kbd>Control</kbd>-<kbd>-</kbd></li>
    <li>SCALE noodle(s) :: SELECT one or more noodles, hold <kbd>Control</kbd>+<kbd>S</kbd> and move the mouse wheel or touch-scroll</li>
    <li>DE-SCALE noodle :: Pick-up a noodle to move it, then press <kbd>0</kbd> (zero) to restore it to its natural scale.</li>
    <li>WIDEN/NARROW noodle :: Pick-up a noodle to move it, then hold <kbd>Shift</kbd> and move the mouse side-to-side</li>
    <li>Change BORDER COLOR :: SELECT one more more noodles (if one noodle is selected, make sure the editable text does not have the focus (indicated by a dotted top/bottom border), either by pressing <kbd>Tab</kbd> or by clicking the noodle's border), then hold <kbd>Control</kbd>+<kbd>C</kbd> and move the mouse wheel or touch-scroll</li>.
    <li>Change BACKGROUND/TEXT COLOR :: With the caret placed in the text of a noodle, hold <kbd>Control</kbd>+<kbd>C</kbd> and move the mouse wheel or touch-scroll to cycle through background colors; release and press <kbd>C</kbd> again to scroll through text colors.</li>
    <li>CLEAR COLORS :: Select "CLEAR COLORS" from the trigram (☰) menu in the noodle's tab.</li>
</ul>
<p>Noodles are stored automagically in your browser. Honest! To see all of your stored noodles, open the flap by clicking the icon in the upper-right corner of your screen. Filter noodles by entering text in the "filter..." box.  Preview noodles by clicking on them once – open them by double-clicking.</p>
</body>
